@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background: #F9F2E6;
}
@font-face {
  font-family: "Microsoft-JhengHei";
  src: url('../../public/fonts/Microsoft JhengHei.ttf')
}


@layer components{
  .btnPrimary{
  @apply bg-btnPrimary text-textSecondary ease-in duration-100 transition-all hover:bg-btnhover hover:text-headerPrimary;
  }
  .btnSecondary{
  @apply bg-transparent border border-primaryBorder text-textSecondary;
  }
  .error{
    @apply absolute w-4 h-4 top-2/4 -translate-y-2/4 right-3;
  }
  .error2{
    @apply absolute w-4 h-4 bottom-3.5 right-3;
  }
}

